.app {
    width: 100%;
    min-height: 100vh;
    background: #f3f4f6;
    padding-inline: 150px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.02em;
    margin-bottom: 24px;
}

.content {
    display: flex;
    width: 100%;
    gap: 32px;
    align-items: flex-start;
}

.panel {
    width: 15%;
}

.canvasWrapper {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
