:root {
    --font-main:
        "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Helvetica Neue",
        Arial, "Noto Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    background-color: #f3f4f6;
    color: #111827;
}

input,
button,
textarea {
    font-family: inherit;
}
