.pendulumWrapper {
    width: 80%;
    height: calc(100vh - 100px); // почти весь экран
    max-height: 900px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: radial-gradient(circle at top, #f9fafb, #e5e7eb);
    border-radius: 20px;
    padding: 16px;

    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.pendulumCanvas {
    width: 100%;
    height: 100%;

    background-color: #ffffff;
    border-radius: 16px;

    border: 1px solid #e5e7eb;
}
